node_modules

# bin目录
main
parser
sqlite3
frontend
yml
rebuild
run_filters
sent_mail

# 临时文件
body.html
foo.db
test.db
tmp.db
raw.txt

/data/*
/test/*
/src/server/raw
/src/server/filters.yml
/src/server/downloads
config.yml
126.config.yml

