node_modules

# bin目录
/bin/main
/bin/parser
/bin/sqlite3
/bin/frontend
/bin/searcher
/bin/yml
/bin/rebuild
/bin/run_filters
/bin/sent_mail

# 临时文件
body.html
foo.db
test.db
tmp.db
raw.txt

/data/*
/db
/java
/test/*
/src/server/raw
/src/server/filters.yml
/src/server/downloads
data
config.yml
config.json
filters.yml
126.config.yml

/email-client.sublime-project
/email-client.sublime-workspace
/src/server/a.go
/src/server/deleted_mails.json
/src/server/messages.json
/src/server/orm_test.db
/src/server/threads.txt

ckeditor

*~
