node_modules

# bin目录
main
parser
sqlite3
frontend
searcher
yml
rebuild
run_filters
sent_mail

# 临时文件
body.html
foo.db
test.db
tmp.db
raw.txt

/data/*
/db
/java
/test/*
/src/server/raw
/src/server/filters.yml
/src/server/downloads
config.yml
filters.yml
126.config.yml

/email-client.sublime-project
/email-client.sublime-workspace
/src/server/a.go
/src/server/deleted_mails.json
/src/server/messages.json
/src/server/orm_test.db
/src/server/threads.txt

ckeditor
