/**
 * 全局变量及样式
 */
.mail-layout {
    .est-layout-sidebar(left, 150px);

    .est-sidebar {
        font-size: 13px;
        padding-top: 20px;

        li {
            padding: 5px 0;
            padding-left: 10px;
            &:hover {
                background-color: rgba(243,243,243,.85);
            }
            b {
                color: #333;
            }
        }
        li.active {
            font-weight: bold;
            background: #e7f1fb;
        }
        a {
            color: #000;
            text-decoration: none;
        }
    }
}

.x-icon-star4,
.x-icon-star-lit4 {
    width: 19px;
    height: 19px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 3px;
}

.x-icon-star4 {
    background: url(../img/star4.png) no-repeat scroll 0 0 transparent;
}
.x-icon-star-lit4 {
    background: url(../img/star-lit4.png) no-repeat scroll 0 0 transparent;
}

.x-icon-attchments {
    background: url(../img/general_black.png) no-repeat scroll 0px -254px transparent;
    width: 16px;
    height: 16px;
    opacity: 0.8;
}

.x-icon-refresh {
    background: url(../img/general_black.png) no-repeat scroll -1px -85px transparent;
    width: 16px;
    height: 16px;
    opacity: 0.8;
    display: inline-block;
}

.ui-link-disabled {
    color: #ccc;
    &:hover {
        color: #ccc;
    }
}

.ui-table-body {
    border-top: 1px solid #ddd;
}

.ui-table-row {
    background: rgba(243,243,243,.85);
    color: #222;
}

.ui-table-row-unread {
    background: rgba(255,255,255,.9);
    .ui-table-cell-text {
        font-weight: bold;
    }
}

.ui-table-row-selected table {
    background: #ffc;
}

.ui-table-select-all,
.ui-table-multi-select {
    margin: 0 auto;
}

.ui-commandmenu {
    border-color: #ccc;
    border-radius: 2px;
    height: 23px;
    line-height: 23px;
    padding: 0 6px 0 10px;
}

.ui-commandmenu-layer {
    background: -webkit-linear-gradient(top, #f6f6f6, #ffffff);
    background: -moz-linear-gradient(top, #f6f6f6, #ffffff);
    border-color: #ccc;
    border-top: none;
}

.skin-mini-button {
    height: 12px;
    line-height: 12px;
}

.btns {
    margin-bottom: 15px;
    text-align: left;
    .skin-spring-add-button {
        background: -webkit-linear-gradient(top, #6cbb4c, #519c30);
        background: -moz-linear-gradient(top, #6cbb4c, #519c30);
        padding: 0 13px 0 13px;
    }
}

.cke {
    box-shadow: none !important;
    border-color: #ccc !important;
}

.cke_bottom {
    background: rgba(204, 204, 204, .2) !important;
}
