/**
 * 全局变量及样式
 */

/* 状态颜色 */
// .my-status-active {
//     color: @bat-success-color;
// }

// .my-status-denied {
//     color: @bat-warning-color;
// }

.x-icon-attchments {
    background: url(../img/general_black.png) no-repeat scroll 0px -254px transparent;
    width: 16px;
    height: 16px;
    opacity: 0.8;
}

.x-icon-refresh {
    background: url(../img/general_black.png) no-repeat scroll -1px -85px transparent;
    width: 16px;
    height: 16px;
    opacity: 0.8;
    display: inline-block;
}

.ui-link-disabled {
    color: #ccc;
    &:hover {
        color: #ccc;
    }
}
