table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 12px;
}

td {
  width: 80px;
  height: 14px;
  overflow: hidden;
  white-space: nowrap;
  border-color: #ccc;
}

.navs {
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-bottom: 10px;
  li {
    float: left;
    list-style: none;
    margin-right: 10px;
    text-decoration: underline;
    cursor: pointer;
    color: #999;
  }
  li.active {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    cursor: default;
  }
}
