/**
 * @file [Please Input File Description]
 * @author leeight(leeight@gmail.com)
 */

.mail-inbox {
    .est-layout-sidebar(left, 150px);

    .est-sidebar {
        font-size: 13px;
        padding-top: 20px;

        li {
            padding: 5px 0;
            padding-left: 10px;
            &:hover {
                background-color: rgba(243,243,243,.85);
            }
            b {
                color: #333;
            }
        }
        li.active {
            font-weight: bold;
            background: #e7f1fb;
        }
        a {
            color: #000;
            text-decoration: none;
        }
    }

    .x-icon-attchments {
        float: right;
        position: relative;
        top: 2px;
        cursor: pointer;
    }

    .ui-table-cell-text {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .ui-table-cell-text i {
        background-color: #ddd;
        border: 1px solid #ddd;
        color: red;
        padding: 1px 3px;
        margin-right: 5px;
        border-radius: 3px;
    }

    .list-header {
        overflow: hidden;
        background: #e7f1fb;
    }
    .list-batch {
        float: left;
    }
    .list-filter {
        float: right;
    }
}
