/**
 * @file [Please Input File Description]
 * @author leeight(leeight@gmail.com)
 */

.mail-inbox {
    [data-col="2"] .ui-table-cell-text {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    [data-col="3"] .ui-table-cell-text a {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 80%;
        display: inline-block;
    }

    .ui-table-cell-text i {
        background-color: #ddd;
        border: 1px solid #ddd;
        color: red;
        padding: 1px 3px;
        margin-right: 5px;
        border-radius: 3px;
    }

    .ui-table-cell-text {
        i.fa {
            color: #000;
            background: transparent;
            padding: 0;
            margin: 0;
            border-radius: 0;
            border: none;
            cursor: pointer;
        }

        .x-icons {
            float: right;
            .fa {
                margin-left: 10px;
            }
        }
    }


    .list-header {
        overflow: hidden;
        background: #e7f1fb;
    }
    .list-batch {
        float: left;
    }
    .list-filter {
        float: right;
    }
}
