/**
 * @file [Please Input File Description]
 * @author leeight(leeight@gmail.com)
 */

.mail-inbox {
    .x-icon-attchments {
        float: right;
        position: relative;
        top: 2px;
        cursor: pointer;
    }

    .ui-table-cell-text {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .ui-table-cell-text i {
        background-color: #ddd;
        border: 1px solid #ddd;
        color: red;
        padding: 1px 3px;
        margin-right: 5px;
        border-radius: 3px;
    }

    .list-header {
        overflow: hidden;
        background: #e7f1fb;
    }
    .list-batch {
        float: left;
    }
    .list-filter {
        float: right;
    }
}
