/**
 * @file [Please Input File Description]
 * @author leeight(leeight@gmail.com)
 */

.mail-search {
    .ui-table-cell-text {
        strong {
            background: yellow;
        }
    }

    .est-sidebar li.active,
    .list-header,
    .list-batch,
    .list-filter {
        background-color: wheat;
    }

    .list-header,
    .list-batch,
    .list-filter,
    .ui-pager,
    .ui-table .ui-table-head table,
    .ui-table .ui-table-body table,
    .ui-table .ui-table-foot table,
    .ui-table .ui-table-head,
    .ui-table .ui-table-body,
    .ui-table .ui-table-foot,
    .ui-table .ui-table-cell,
    .ui-table .ui-table-hcell,
    .ui-table .ui-table-row {
        border-color: darken(wheat, 5%);
    }
}
