/**
 * @file [Please Input File Description]
 * @author leeight(leeight@gmail.com)
 */

.mail-view {
    .mail-subject {
        h2 {
            font-size: 18px;
            margin: 12px 0 9px;
            display: inline-block;
        }

        a {
            margin-left: 10px;
            position: relative;
            top: -2px;
        }
    }

    .list-summary-table {
        line-height: 20px;
        td {
            white-space: normal;
        }
    }

    .list-summary {
        border-bottom: 1px solid #bad5f1;
    }

    > .mail-body {
        padding: 10px;
        border: 1px solid #bad5f1;
        border-top: none;
        font-size: 120%;
        pre {
            font-family: monospace;
            word-wrap: break-word;
        }

        blockquote {
            margin: 0px 0px 0px 0.8ex;
            border-left: 1px solid #CCC;
            padding-left: 1ex;
        }
    }

    .mail-calendar {
        border-spacing: 5px;
        th, td {
            vertical-align: top;
        }
    }
}
