/**
 * @file src/ui/MailAddressInput.less ~ 2014/08/29 16:56:19
 * @author leeight(liyubei@baidu.com)
 **/

.ui-mailaddressinput {
    overflow: hidden;
    .ui-textbox {
        float: left;
    }
    .ui-textbox input {
        padding-left: 0;
    }
}

.ui-mailaddressinput-preview,
.ui-mailaddressinput-preview-item {
    float: left;
}

.ui-mailaddressinput-preview-item {
    margin-right: 3px;
    background: none repeat scroll 0% 0% #E2E6F0;
    border: 1px solid #9DACCC;
    border-radius: 2px;
    color: #1C2A47;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    margin-bottom: 3px;
    white-space: nowrap;
    position: relative;
}

.ui-mailaddressinput-preview-item span {
    margin-right: 2px;
}

.ui-mailaddressinput-preview-item i {
    background: url(../common/img/fb.png) left -12px no-repeat;
    width: 11px;
    height: 11px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 4px;
    &:hover {
        background-position: left -24px;
    }
}








/* vim: set ts=4 sw=4 sts=4 tw=120: */
